<h1><%= t('.title') %></h1>

<div class="cart">
  <% if @cart_positions.empty? %>
    <div><%= t('.empty') %></div>
  <% else %>
    <% total_price = 0 %>

    <div class="scroll-wrapper">
      <table>
        <tr>
          <th><%= Item.human_attribute_name('name') %></th>
          <th><%= Item.human_attribute_name('price') %></th>
          <th><%= CartPosition.human_attribute_name('quantity') %></th>
          <th></th>
          <th></th>
        </tr>
        <% @cart_positions.each do |i| %>
          <% total_price += i.item.price * i.quantity %>
          <tr>
            <th><%= link_to i.item.name, item_path(i.item) %></th>
            <th><%= number_to_currency(i.item.price) %></th>
            <th><%= i.quantity %></th>
            <th><%= link_to t('.add_to_cart'), add_to_cart_item_path(i.item), data: { 'turbo-method': :patch } %></th>
            <th><%= link_to t('.remove_from_cart'), remove_from_cart_item_path(i.item), data: { 'turbo-method': :patch } %></th>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="total"><%= t('common.total') %>: <%= number_to_currency(total_price) %></div>
    <div><%= link_to t('.place_an_order'), new_order_path %></div>
  <% end %>
</div>
