<div class="item">
  <h1><%= @item.name %></h1>

  <div><%= Item.human_attribute_name('price') %>: <%= number_to_currency(@item.price) %></div>
  <div><%= Item.human_attribute_name('description') %>: <%= @item.description %></div>
  <div><%= Item.human_attribute_name('category') %>: <%= @item.category.name %></div>

  <div class="images">
    <% @item.images.each do |image| %>
      <div class="img-wrapper"><%= image_tag image.url %></div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div><%= link_to t('.add_to_cart'), add_to_cart_item_path, data: { 'turbo-method': :patch } %></div>
  <% end %>
</div>
